input, select {
    height: 40px;
    width: 100%;
}

label.custom-file {
    width: 100%;
}

form.row, h2 {
    margin-top: 16px;
}

button {
    position: relative;
    width: 100%;
    height: 40px;
    
}
i {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
}
input[type="file"].feature-picture-upload {
    height: 38px;
    opacity: 0;
    position: absolute;
    width: 100%;
}
input[type="file"].feature-picture-upload:hover + label.btn {
    background: #0275d8;
    color: #fff;
}
label.btn {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 350px;
}