div.container {
    margin-top: 36px;
}
div.feature-img {
    height: 320px;
    overflow: hidden;
    padding: 16px;
}
div.feature-img img {
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}