div.show-more {
    text-align: center;
    margin-bottom: 16px;
}
div.show-more>button {
    font-family: SF;
}
div.row div.card {
    margin-bottom: 16px;
    overflow: hidden;
}
div.card div.feature-image {
    height: 350px;
    overflow: hidden;
    padding: 16px;
}
div.card img.card-img-top {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div.card-columns {
    margin-top: 16px;
}