<div class="row">
    <div class="col-4" *ngFor="let phone of phoneList">
        <div class="card">
            <div class="feature-image">
                <img class="card-img-top" src="data:image/jpeg;base64,{{phone.Thumbnail}}" alt="{{phone.ProductName}}">
            </div>
            <div class="card-block">
                <h4 class="card-title">
                    {{phone.PhoneID}} - {{phone.ProductName}}
                    <br>
                     {{phone.Price | currency:'USD':true:'4.2-2'}}
                </h4>
                <p class="card-text">
                    <small class="text-muted">
                        OS: {{phone.OS}}
                        <br>
                        Màn Hình: {{phone.ScreenWidth}} {{phone.ScreenResolution}}
                        <br>
                        CPU: {{phone.CPU}}
                        <br>
                        RAM: {{phone.RAM}}
                        <br>
                        ROM: {{phone.ROM}}
                        <br>
                        Camera: {{phone.Camera}} - {{phone.FrontCamera}}
                        <br>
                        Pin: {{phone.Battery}}
                        <br>
                    </small>
                </p>
                <a routerLink="/phone/{{phone.PhoneID}}" class="btn btn-outline-primary">View Details</a>
                <a href="" class="btn btn-outline-success">Buy</a>
            </div>
        </div>
    </div>
</div>

<div class="ml-a mr-a show-more">
    <button type="button" class="btn btn-outline-info show-more" (click)="loadMore()">Show More</button>
</div>