<section class="app-nav-bar sticky-top">
	<div class="container">
		<nav class="navbar navbar-light bg-light">
			<div class="row">
				<div class="col-2">
					<a class="navbar-brand" href="#">
						<img src="../../assets/img/logo.jpg" alt="" height="40px">
					</a>
				</div>
				<div class="search col-10">
					<div class="input-group">
						<div class="input-group-addon"><i class="material-icons">search</i></div>
						<input type="text" class="form-control" 
							placeholder="Search Product" 
							data-toggle="dropdown" 
							aria-haspopup="true" 
							aria-expanded="false" 
							id="search-box"
							[(ngModel)]="searchValue"
							(keyup)="search()"
							>
					</div>
					<div class="search-result">
						<div class="dropdown-menu" aria-labelledby="search-box">
							<div *ngFor="let phone of phoneList">
								<a class="dropdown-item" href="phone/{{phone.PhoneID}}">
									<div class="row">
										<div class="feature-image col-3">
											<img src="{{phone.Thumbnail}}" alt="{{phone.ProductName}}">
										</div>
										<div class="col-9">
											<p>{{phone.ProductName}}</p>
											<p>{{phone.Price | currency:'USD':true:'3.0-0'}}</p>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</div>
</section>