<h4>Brand</h4>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="addBrandIDList($event, 1)">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Apple</span>
</label>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="addBrandIDList($event, 2)">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Samsung</span>
</label>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="addBrandIDList($event, 3)">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Sony</span>
</label>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="addBrandIDList($event, 4)">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Oppo</span>
</label>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="addBrandIDList($event, 5)">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">HTC</span>
</label>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="addBrandIDList($event, 6)">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Nokia</span>
</label>


<h4>OS</h4>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="addOSList($event, 'iOS')">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">iOS</span>
</label>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="addOSList($event, 'Android')">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Android</span>
</label>


<h4>RAM</h4>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="addRAMList($event, '2 GB')">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">2 GB</span>
</label>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="addRAMList($event, '3 GB')">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">3 GB</span>
</label>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="addRAMList($event, '4 GB')">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">4 GB</span>
</label>


<h4>ROM</h4>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="addROMList($event, '16 GB')">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">16 GB</span>
</label>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="addROMList($event, '32 GB')">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">32 GB</span>
</label>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="addROMList($event, '64 GB')">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">64 GB</span>
</label>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="addROMList($event, '128 GB')">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">128 GB</span>
</label>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="addROMList($event, '256 GB')">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">256 GB</span>
</label>

<h4>Camera</h4>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="addCameraList($event, '12 MP')">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">12 MP</span>
</label>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="addCameraList($event, '13 MP')">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">13 MP</span>
</label>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="addCameraList($event, '19 MP')">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">19 MP</span>
</label>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="addCameraList($event, '23 MP')">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">23 MP</span>
</label>

<h4>Front Camera</h4>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="addFrontCameraList($event, '5 MP')">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">5 MP</span>
</label>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="addFrontCameraList($event, '8 MP')">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">8 MP</span>
</label>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="addFrontCameraList($event, '13 MP')">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">13 MP</span>
</label>