<div class="clearfix">
	<a class="btn btn-success float-right" href="newPhone" role="button">
		Add New Phone
		<i class="material-icons">add_circle</i>
	</a>
</div>
<div class="card">
    <div class="card-block">
		<div class="row">
			<img src="assets/img/iPhoneX.jpg" alt="" class="col-3" height="100%">
			<div class="col-9 clearfix">
				<h4>iPhone X</h4>
				<h4>10000$</h4>

				<a class="btn btn-danger float-right" href="#" role="button">
					<i class="material-icons">delete_sweep</i>
				</a>
				<a class="btn btn-info float-right" href="#" role="button">
					<i class="material-icons">create</i>
				</a>
			</div>
		</div>
    </div>
</div>
<div class="card">
	<div class="card-block">
		<div class="row">
			<img src="assets/img/logo.jpg" alt="" class="col-3" height="100%">
			<div class="col-9">
				<h4>iPhone X</h4>
			</div>
		</div>
	</div>
</div>

