<div class="clearfix">
	<a class="btn btn-success float-right" href="addPhone" role="button">
		Add New Phone <i class="material-icons">add_circle</i>
	</a>
</div>

<div class="card" *ngFor="let phone of phoneList">
    <div class="card-block">
		<div class="row">
			<div class="feature-img col-3">
				<img src="{{phone.Thumbnail}}" alt="{{phone.ProductName}}">
			</div>
			<div class="col-7 clearfix">
				<h5>Phone ID: {{phone.PhoneID}}</h5>
				<h5>Phone Name: {{phone.ProductName}}</h5>
				<h5>Price: {{phone.Price | currency:'USD':true:'3.0-0'}}</h5>
				<h5>Quantity: {{phone.Quantity}}</h5>
			</div>
			<div class="clearfix manage-button col-2">
				<button class="btn btn-danger float-right" (click)="deletePhone(phone.PhoneID)">
					<i class="material-icons">delete_sweep</i>
				</button>
				<a class="btn btn-info float-right" href="/editPhone/{{phone.PhoneID}}" role="button">
					<i class="material-icons">create</i>
				</a>
			</div>
		</div>
    </div>
</div>

<div class="ml-a mr-a show-more">
	<button type="button" class="btn btn-outline-info show-more" (click)="loadMore()">Show More</button>
</div>
