div.mr-a.ml-a {
    text-align: center;
    margin-bottom: 16px;
    margin-top: 16px;
}
div.carousel-item>img {
    margin: auto;
    height: 400px;
}
div.carousel>a {
    background-color: rgba(0, 0, 0, 0.3);;
}
td.text-right {
    width: 50%;
    padding-right: 16px;
}