<div class="row">
  <div class="col-4" *ngFor="let laptop of laptopList">
      <div class="card">
          <img class="card-img-top" src="data:image/jpeg;base64,{{laptop.Thumbnail}}" alt="{{laptop.Thumbnail}}" width="100%">
          <div class="card-block">
              <h4 class="card-title">
                  {{laptop.PhoneID}} - {{laptop.ProductName}}
                  <br>
                  {{laptop.Price}}đ
              </h4>
              <p class="card-text">
                  <small class="text-muted">
                      OS: {{laptop.OS}}
                      <br>
                      Màn Hình: {{laptop.ScreenWidth}} {{laptop.ScreenResolution}}
                      <br>
                      CPU: {{laptop.CPU}}
                      <br>
                      RAM: {{laptop.RAM}}
                      <br>
                      ROM: {{laptop.ROM}}
                      <br>
                      Camera: {{laptop.Camera}} - {{laptop.FrontCamera}}
                      <br>
                      Pin: {{laptop.Battery}}
                      <br>
                  </small>
              </p>
              <a routerLink="/phone/{{laptop.PhoneID}}" class="btn btn-outline-primary">View Details</a>
              <a href="" class="btn btn-outline-success">Buy</a>
          </div>
      </div>
  </div>
</div>

<div class="ml-a mr-a show-more">
  <button type="button" class="btn btn-outline-info show-more" (click)="loadMore()">Show More</button>
</div>